.card {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-rows: auto 2fr;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 10px 10px 51px 0px rgba(0,0,0,0.75);
  &__title {
    margin: 0;
    padding: 10px;
    border: 1px solid $color-fuerte;
    border-radius: 10px;
    justify-self: center;
    font-size: 2.4rem;
  }
  &__pokemons {
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    gap: 15px;
    justify-content: space-around;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 12px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}