$color-base: #F5EEF8;
$color-medio: #EBDEF0;
$color-fuerte: #D7BDE2;
$color-button: #BB8FCE;
$color-button-hover: #A569BD;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
