.title {
  width: 200px;
  margin-left: calc(50% - 90px);
  object-fit: cover;
}

.main {
  display: grid;
  grid-template-rows: auto 2fr;
  justify-items: center;
}

.main__title {
  margin: 0;
}

.main__pokemons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  margin: 20px 0;
  padding: 15px;
  height: 75vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
  border-radius: 10px;
}

.main__pokemons::-webkit-scrollbar{
  display: none;
}